body {
    background-color: #3a633a; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    position: relative;
    width: calc(25% - 20px); /* Ajuste para 4 columnas (25% de ancho) */
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.gallery-item img {
    width: 100%;
    height: 200px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Mantiene la proporción de aspecto y recorta si es necesario */
    display: block;
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
    opacity: 0; /* Ocultar texto inicialmente */
    transition: opacity 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
}

.gallery-item:hover .info {
    opacity: 1; /* Mostrar texto al pasar el mouse */
}

/* Asegúrate de tener un contenedor para los botones */
.header-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacio entre botones */
    margin-top: 20px; /* Espacio respecto a la imagen */
    position: relative; /* Ajusta posición relativa al contenedor */
}

/* Estilo para los botones */
.header-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(82, 110, 72); /* Color del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-buttons button:hover {
    background-color: rgb(98, 130, 93); /* Color al pasar el cursor */
}

/* Asegura que el footer y otros elementos no interfieran */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}